.box1{
  background-color: red;
  height: 100px;
  width: 100px;
}
.box2{
  background-color:aqua;
  height: 100px;
  width: 100px;
}
.box3{
  background-color: purple;
  height: 100px;
  width: 100px;
}